<div class="page--feed">
    <header class="siteHeader grid--middle">
        <span class="siteHeader__item block-1-5" href=""></span><!--
        --><div class="block-3-5">
            <div class="input-toggle grid">
                <div class="input-toggle__item block-1-2">
                    <input ng-model="active" ng-value="true" id="toggle-active" name="active" class="input-toggle__checkbox" type="radio" checked="checked">
                    <label for="toggle-active" class="option">active</label>
                </div><!--
                --><div class="input-toggle__item block-1-2">
                    <input ng-model="active" ng-value="false" id="toggle-archived" name="active" class="input-toggle__checkbox" type="radio">
                    <label for="toggle-archived" class="option">archived</label>
                </div>
            </div>
        </div><!--
        --><a class="siteHeader__item block-1-5" href="#/settings"><i class="fa fa-cog"></i></a>
    </header>
    <loader ng-if="loading.rooms"></loader>
    <section class="feed">
        <feed-item room="room" ng-repeat="room in rooms | filter:showArchived"></feed-item>
    </section>
    <circular-nav>
        <circular-item url="#/create/photo"><span class="fa fa-camera"></span></circular-item>
        <circular-item url="#/create/link"><span class="fa fa-newspaper-o"></span></circular-item>
        <circular-item url="#/create/location"><span class="fa fa-compass"></span></circular-item>
    </circular-nav>
</div>
