<header class="siteHeader--fixed">
    <ul class="grid--middle">
        <li class="siteHeader__item block-1-5" back-button><i class="fa fa-chevron-left"></i></li><!--
        --><li class="siteHeader__title block-3-5">Settings</li><!--
        --><li class="siteHeader__item block-1-5" ng-click="save()"><i class="fa" ng-class="{'fa-save': !loading, 'fa-refresh fa-spin': loading}"></i></li>
    </ul>
</header>
<section class="push-from-top">
    <form class="createRoom" ng-submit="save()">
        <input ng-model="user.username" class="input" type="text" placeholder="Username" />
        <input ng-model="user.email" class="input" type="text" placeholder="Email" />
        <input ng-model="user.password" class="input" type="text" placeholder="New Password" />
    </form>
    <input type="button" value="logout" ng-click="logout()" class="button button-color--red button-size--fullWidth" />
</section>
