<header class="siteHeader--fixed">
    <ul class="grid--middle">
        <li class="siteHeader__item block-1-5" back-button><i class="fa fa-chevron-left"></i></li><!--
        --><li class="siteHeader__item block-3-5">Create</li><!--
        --><li class="siteHeader__item block-1-5" ng-click="create()"><i class="fa" ng-class="{'fa-check': !loading, 'fa-refresh fa-spin': loading}"></i></li>
    </ul>
</header>
<section class="push-from-top">
    <form class="createRoom" ng-submit="create()">
        <input class="input" type="text" placeholder="Link" ng-model="room.topic.content" />
        <input class="input" type="text" placeholder="Title" ng-model="room.title" />
        <h3 class="font-weight--light">Radius</h3>
        <div class="input-toggle grid">
            <div class="input-toggle__item block-1-4">
                <input ng-model="room.location.radius" ng-value="100" id="toggle-block" name="radius" class="input-toggle__checkbox" type="radio" checked="checked">
                <label for="toggle-block" class="option">block</label>
            </div><!--
            --><div class="input-toggle__item block-1-2">
                <input ng-model="room.location.radius" ng-value="800" id="toggle-neighborhood" name="radius" class="input-toggle__checkbox" type="radio">
                <label for="toggle-neighborhood" class="option">neighborhood</label>
            </div><!--
            --><div class="input-toggle__item block-1-4">
                <input ng-model="room.location.radius" ng-value="8000" id="toggle-city" name="radius" class="input-toggle__checkbox" type="radio">
                <label for="toggle-city" class="option">city</label>
            </div>
        </div>
</section>
