<header class="siteHeader--fixed grid--middle">
    <ul class="grid--middle">
        <li class="siteHeader__item block-1-5" back-button><i class="fa fa-chevron-left"></i></li><!--
        --><li class="siteHeader__item block-3-5">Create</li><!--
        --><li class="siteHeader__item block-1-5"></li>
    </ul>
</header>
<section class="create push-from-top">
    <a class="type" href="#/create/link"><i class="fa fa-newspaper-o"></i></a>
    <a class="type" href="#/create/location"><i class="fa fa-compass"></i></a>
</section>
