<div class="page push-from-bottom">
    <header class="siteHeader grid--middle">
        <a class="siteHeader__item block-1-5" href=""><i class="fa fa-user"></i></a><!--
        --><div class="block-3-5">
            <div class="toggle">
                <input id="toggle-active" name="feed" class="toggle__checkbox" type="radio" checked="checked">
                <label for="toggle-active" class="option">map</label>

                <input id="toggle-archived" name="feed" class="toggle__checkbox" type="radio">
                <label for="toggle-archived" class="option">list</label>
            </div>
        </div><!--
        --><a class="siteHeader__item block-1-5" href="create.html"><i class="fa fa-cog"></i></a>
    </header>
    <map id="map" pin-source="rooms" class="fill"></map>
</div>
<nav class="mainNavigation">
    <ul class="grid">
        <li class="block-1-3 mainNavigation__item"><a href="#/discover"><i class="fa fa-street-view"></i></a></li><!--
        --><li class="block-1-3 mainNavigation__item"><a href="#/feed"><i class="fa fa-comments-o"></i></a></li><!--
        --><li class="block-1-3 mainNavigation__item"><a href=""><i class="fa fa-pencil-square-o"></i></a></li>
    </ul>
</nav>
