<div class="page push-from-bottom">
    <header class="siteHeader grid--middle">
        <a class="siteHeader__item block-1-5" href=""><i class="fa fa-user"></i></a><!--
        --><div class="block-3-5">
            <div class="input-toggle grid">
                <div class="input-toggle__item block-1-2">
                    <input id="toggle-block" name="radius" class="input-toggle__checkbox" type="radio" checked="checked">
                    <label for="toggle-block" class="option">map</label>
                </div><!--
                --><div class="input-toggle__item block-1-2">
                    <input id="toggle-city" name="radius" class="input-toggle__checkbox" type="radio">
                    <label for="toggle-city" class="option">list</label>
                </div>
            </div>
        </div><!--
        --><a class="siteHeader__item block-1-5" href="create.html"><i class="fa fa-cog"></i></a>
    </header>
    <map id="map" pin-source="rooms" locate="true" class="fill"></map>
</div>
<nav class="mainNavigation">
    <ul class="grid">
        <li class="block-1-3 mainNavigation__item active"><a href="#/discover"><i class="fa fa-street-view"></i></a></li><!--
        --><li class="block-1-3 mainNavigation__item"><a href="#/feed"><i class="fa fa-comments-o"></i></a></li><!--
        --><li class="block-1-3 mainNavigation__item"><a href="#/create"><i class="fa fa-pencil-square-o"></i></a></li>
    </ul>
</nav>
