<header class="siteHeader grid--middle">
    <a class="siteHeader__item block-1-5" href=""><i class="fa fa-bars"></i></a><!--
    --><div class="block-3-5">
        <div class="toggle">
            <input id="toggle-active" name="feed" class="toggle__checkbox" type="radio" checked="checked">
            <label for="toggle-active" class="option">active</label>

            <input id="toggle-archived" name="feed" class="toggle__checkbox" type="radio">
            <label for="toggle-archived" class="option">archived</label>
        </div>
    </div><!--
    --><a class="siteHeader__item block-1-5" href="create.html"><i class="fa fa-comments-o"></i></a>
</header>
<section class="feed">
    <a href="topic.html"><div class="feed__item media-item">
        <div class="background">
            <img src="http://lorempixel.com/750/450/?v=1" />
        </div>
        <div class="info">
            <timestamp class="date">Jan 7th</timestamp>
            <ul class="members">
                <li class="user">user 1</li><!--
                --><li class="user">user 2</li><!--
                --><li class="user">user 3</li><!--
                --><li class="user">user 4</li>
            </ul>
        </div>
    </div></a>
</section>
