<header class="siteHeader--fixed">
    <ul class="grid--middle">
        <li class="siteHeader__item block-1-5" back-button><i class="fa fa-chevron-left"></i></li><!--
        --><li class="siteHeader__title ellipsis block-3-5" am-time-ago="room.createdAt"></li><!--
        --><li class="siteHeader__item block-1-5" ng-click="join()"><i class="fa fa-plus"></i></li>
    </ul>
</header>
<section class="room push-from-top">
    <!--<div class="cover--image">
        <img class="" src="http://lorempixel.com/400/250/" />
    </div>-->
    <div class="cover--link">
        <h2 class="title"><a ng-href="{{room.topic.content}}" target="_blank">{{room.title}}</a></h2>
        <!-- <span class="domain">{{getRootDomain(room.topic.data)}}</span> -->
    </div>
    <div class="message" ng-repeat="comment in comments">
        <header class="message__info grid--middle">
            <span class="user block-1-2">{{comment.author.username}}</span><!--
            --><span class="time block-1-2" am-time-ago="comment.createdAt"></span>
        </header>
        <p class="message__body" ng-bind-html="comment.comment | linky:'_blank'"></p>
    </div>
    <form class="newMessage grid" ng-submit="postComment(newComment)">
        <textarea class="block-3-4" rows="1" msd-elastic ng-model="newComment.comment" placeholder="New message"></textarea><!--
        --><button type="submit" class="block-1-4 button" ng-hide="loading"><i class="fa fa-comment"></i></button><!--
        --><span class="block-1-4 button" ng-show="loading">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
    </form>
</section>
