<div class="page landing">
    <div class="top">
        <div class="vertical-center">
            <img src="img/bantrs.png" class="logo logo--small" />
            <form class="top__form">
                <input type="text" placeholder="Username" class="input" />
                <input type="text" placeholder="Email" class="input" />
                <input type="password" placeholder="Password" class="input" />
                <input type="submit" value="Sign up" class="landing__action button button-color--green" />
            </form>
            <p class="top__error">
                Username already taken.
            </p>
        </div>
    </div>
    <div class="separator">or</div>
    <div class="bottom">
        <div class="vertically-center">
            <a href="#/login" class="landing__action button button-size--fullWidth button-size--medium">Login</a>
        </div>
    </div>
</div>
