.feed {
    @itemHeight: 350px * .9;
    @itemWidth: 200px * .9;
    @itemMargin: 10px;

    position: relative;
    white-space: nowrap;
    overflow: auto;
    padding: 0 calc(~"50% - " (@itemWidth / 2) + @itemMargin);
    -webkit-overflow-scrolling: touch;
    position: relative;
    top: 50%;
    margin-top: -((@itemHeight / 2) + @itemMargin + (@siteHeaderHeight / 2));

    &__item {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: @itemWidth;
        height: @itemHeight;
        margin: @itemMargin;
        background: @grey;

        &.ng-enter {
            animation: zoomIn .3s;
        }

        &.archiving.ng-leave {
            animation: fadeOutUp .2s;
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            filter: blur(2px);
            z-index: 100;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translateY(-50%) translateX(-50%);
            }
        }

        .info {
            position: relative;
            height: 100%;
            z-index: 500;
            color: #fff;
            padding: 20px;
            white-space: normal;
            font-weight: 300;
            background-image: linear-gradient(
                to top,
                #000,
                rgba(0, 0, 0, 0.1)
            );

            .title {
                line-height: 1.2;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .meta {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 10px;
                font-size: 1.3rem;
            }

            .notification {
                border: 5px solid @green;
                height: 65px;
                width: 65px;
                line-height: 55px; // height - borderWidth * 2
                border-radius: 50%;
                font-size: 1.7rem;
                text-align: center;
                display: inline-block;
            }

            .creation {
                display: inline-block;
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
}
