.map {
	z-index: 0;
	background: #fff;
	width: 100%;
	position: relative;

	&.fill {
		height: 100%;
	}

	&.small {
		height: 100px;
	}

	&.medium {
		height: 250px;
	}

	&.large {
		height: 500px;
	}
}

.leaflet-container {
	&.leaflet-touch {

	}

	.leaflet-control-attribution a {
		color: inherit;
		text-decoration: none;
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}
	}

	.leaflet-popup-content-wrapper {
		font-family: @fontFamily;

		border-radius: 0;
		box-shadow: none;
		max-width: 200px;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}
