.siteHeader {
    background: @accent;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    height: @siteHeaderHeight;
    z-index: 10000;

    &--fixed {
        &:extend(.siteHeader);

        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        & + .push-from-top {
            padding-top: 50px;
        }
    }

    &__item,
    &__title {
        line-height: @siteHeaderHeight;
    }

    &__title {
        font-size: 1.5rem;
    }

    .input-toggle {
        font-size: 1rem;
        vertical-align: middle;

        .toggle(@accent-dark, @accent, #fff);
    }
}
