.create {
    height: 100%;

    .type {
        height: 50%;
        border-bottom: 1px solid @grey;
        font-size: 5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &:last-child {
            border-bottom: none;
        }
    }
}

.createRoom {
    padding: 10px;
    font-size: 1.5rem;

    .input {
        margin-bottom: 10px;
    }

    .input-toggle {
        font-size: 1.2rem;
        padding: .3em;

        .toggle(@accent-dark, @accent, #fff);
    }

    .suggested {
        margin-left: 10px;
        max-height: 200px;
        overflow: auto;

        &__item {
            font-size: 1.1rem;
            border-bottom: 1px solid @grey;
            padding: 10px;
        }
    }
}
